{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Programm {% if  newEntry %}anlegen {% else %}bearbeiten{% endif %}</h1>
{% endblock %}

{% block content %}
    {% include "error-message.html.twig" %}
    <form action="{{ formAction }}" method="post" name="formComment" enctype="multipart/form-data">
        <label for="title" {% if errorData.title %} class="error"{% endif %}>Titel: </label>
        <input id="title" type="text" size="20" name="title" value="{{ formData.title }}"
               class="width65{% if errorData.title %} error{% endif %}"/>

        <label for="price" class="{% if errorData.price %}error{% endif %}">Preis:</label>
        <select id="price" name="price" class="{% if errorData.price %}error{% endif %}">
            <option value="notset" {% if formData.price == "notset" %} selected="selected" {% endif %}>
                -- Bitte wählen Sie einen Preis aus --
            </option>
            {% for key, price in formData.priceData %}
                <option value="{{ key }}" {% if formData.price == key %} selected="selected" {% endif %}>
                    {{ price.name }}
                    : {{ price.price }} ({{ price.priceReduce }})
                </option>
            {% endfor %}
        </select>

        <label for="countTickets" {% if errorData.countTickets %} class="error"{% endif %}>Anzahl der verfügbaren
            Plätze: </label>
        <input id="countTickets" type="text" size="20" name="countTickets" value="{{ formData.countTickets }}"
               class="width10{% if errorData.countTickets %} error{% endif %}"/>


        <label for="text" class="{% if errorData.text %}error{% endif %}">Text: </label>
        <textarea id="text" name="text" rows="10"
                  class="{% if errorData.text %}error{% endif %}">{{ formData.text }}</textarea>
        <div class="clear"></div>
        <label for="fileToUpload">Bild:</label>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <div class="clear"></div>
        {% if formData.image %}
            <img src="{{ formData.image }}" alt="Bild"/>
        {% else %}
            <p>
                Kein Bild vorhanden.
            </p>
        {% endif %}

        <div class="clear"></div>
        <input name="send" type="submit" value="Speichern">
    </form>
{% endblock %}
