{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Reservierung {% if  newEntry %}anlegen {% else %}bearbeiten{% endif %}</h1>
{% endblock %}

{% block content %}

    {% include "error-message.html.twig" %}

    <p class="infoList">
        <span>Vorname:</span> {{ formData.firstname }}<br/>
        <span>Nachname:</span> {{ formData.lastname }}<br/>
        <span>E-Mail:</span> {{ formData.email }}<br/>
        <span>Reservierungsnummer:</span> {{ formData.reservationNumber }}<br/>
        <span>reserviert bis:</span> {{ formData.reservationUntil }}<br/>
    </p>
    <form action="{{ formAction }}" method="post" name="formComment">

        <div class="width50">
            <p>Status:</p>
            {% for key, status in statusData %}

                <input id="status_{{ key }}" type="radio" size="20" name="status" value="{{ key }}"
                       {% if formData.status == key %}checked="checked"{% endif %}
                       class="width65{% if errorData.status %} error{% endif %}"/>
                <label for="status_{{ key }}"
                       class="radio{% if errorData.status %} error{% endif %}">{{ status }}</label>
                <div class="clear"></div>
            {% endfor %}
        </div>
        <div class="width50 bottom">
            <label for="text" class="{% if errorData.text %}error{% endif %}">Bemerkungen:</label>
            <textarea id="text" name="text" rows="4"
                      class="{% if errorData.text %}error{% endif %}">{{ formData.text }}</textarea>

            <div class="clear"></div>
        </div>
        <div class="shopInfo">
            <ul>
                <li class="header">
                    <span class="type">Type</span>
                    <span class="count">Anzahl</span>
                    <span class="title">Blocktitel</span>
                    <span class="price">Einzelpreis</span>
                    <span class="priceTotal">Gesamtpreis</span>
                    {#<span class="delete">Löschen</span>#}
                </li>
                {% for program in programData.list %}
                    <li>
                        <span class="type">{% if program.priceMode == 2 %} ermäßigter Preis{% else %}normaler Preis{% endif %}</span>
                        <span class="count">
                           {#  <label for="count_{{ program.pid }}_{{ program.priceMode }}">Anzahl: </label>
                            <input name="count_{{ program.pid }}_{{ program.priceMode }}"
                                   id="count_{{ program.pid }}_{{ program.priceMode }}" type="text"
                                   value="{{ program.count }}"
                                   class="count {% if program.error %} error{% endif %}"/>
                                   #}
                            {{ program.count }}
                        </span>
                        <span class="title">{{ program.title }} </span>
                        <span class="price">{{ program.price }}</span>
                        <span class="priceTotal">{{ program.priceTotal }}</span>
                        {#<span class="delete"><a href="{{ program.deleteLink }}">Löschen</a></span>#}
                    </li>
                {% endfor %}
            </ul>
            <div class="endPriceBlock">
                <span class="endPrice">Gesamtpreis:&nbsp;&nbsp;<strong>{{ programData.priceTotal }}</strong></span>
            </div>
        </div>
        <div class="clear"></div>
        <input name="send" type="submit" value="Speichern">
    </form>
{% endblock %}
