{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Übersicht</h1>
{% endblock %}

{% block content %}

    <p>
        Hallo {{ user.appellation }} {{ user.lastname }}!
    </p>

    {% include "error-message.html.twig" %}

    <div class="width50">
        <h2>Reservierungen suchen</h2>
        <form action="{{ reservationSearchAction }}" method="post">
            <label for="reservationName">Reservierungsnummer / Name / E-Mail:</label>
            <input type="text" name="reservationName" id="reservationName"/>
            <input type="submit" value="Suchen"/>
        </form>
    </div>
    <div class="width50 right">
        <h2>Programminformationen</h2>
        <p {% if countNotVisiblePrograms > 0 %}class="error"{% endif %}>
            Anzahl der Programme, die nicht online sind:
            <a href="{{ linkProgram }}"><span>{{ countNotVisiblePrograms }}</span></a>
        </p>
        <h2>Anzahl der Reservierungen</h2>
        <p>
            Anzahl <strong>aller</strong> Reservierungen: {{ countReservationAll }}
        </p>
        <p>
            Anzahl <strong>offene</strong> Reservierungen: {{ countReservationOpen }}
        </p>
        <p>
            Anzahl <strong>bezahlte</strong> Reservierungen: {{ countReservationPaid }}
        </p>
        <p>
            Anzahl <strong>abgelaufener</strong> Reservierungen: {{ countReservationExpired }}
        </p>

    </div>
    <div id="statisticList">
        <div class="width50">
            <h2>Statistiken</h2>
            <ul>
                <li>Programme online: {{ countProgram }}</li>
                <li>Plätze insgesamt: <span id="countMaxPlaces">{{ countMaxPlaces }}</span></li>
                <li>Frei verfügbare Plätze: {{ countFreePlaces }}</li>
                <li>
                    Plätze reserviert: <span id="countReservation">{{ countReservation }}</span>

                    <ul>
                        {% for mode in countsPrices.reservation %}
                            <li>davon mit {{ mode.name }} reserviert: {{ mode.count }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {#<li>Plätze verbindlich gebucht: {{ countBooking }}
                     <ul>
                         {% for mode in countsPrices.booking %}
                             <li>davon mit {{ mode.name }} reserviert: {{ mode.count }}</li>
                         {% endfor %}
                     </ul>
                 </li>
                 #}
            </ul>
        </div>
    </div>
    <div class="jsStatistic">
        <h3>Reservierungen/Freie Plätze</h3>
        <canvas id="statisticCanvas" width="270" height="270"></canvas>
        <script type="application/javascript">
            var maxPlaces = document.getElementById('countMaxPlaces').innerHTML;
            var maxRadius = 360;

            var reservePlaces = document.getElementById('countReservation').innerHTML;
            var openPlaces = maxPlaces - reservePlaces;
            var first = 100 / maxPlaces * reservePlaces;
            first = maxRadius / 100 * first;

            var second = 100 / maxPlaces * openPlaces;
            second = maxRadius / 100 * second;


            var circleData = {
                0: {
                    "value": first,
                    "label": "reserviert: " + reservePlaces,
                    "color": "#a1231c"
                },
                1: {
                    "value": second,
                    "label": "frei: " + openPlaces,
                    "color": "#1da127"
                }
            };

            var statistic = new Statistic();
            statistic.drawCircle(circleData);

        </script>
    </div>
{% endblock %}
