{% extends "layout.html.twig" %}
{% block headline %}
    <h1> {{ programData.title }}</h1>
{% endblock %}

{% block content %}
    <div class="events">
        <p>
            {% if programData.image %}
                <img src="{{ programData.image }}" alt="{{ programData.title }}"/>
            {% endif %}
            {{ programData.text }}
        </p>
        <p>
        <h2>Preise</h2>
        Preis für ein normales Ticket: {{ programData.price }} €<br/>
        Preis für ein ermäßigtes Ticket*: {{ programData.priceReduce }} €<br/>
        </p>
    </div>
    <div class="clear"></div>
    <div class="events">
        {% if ticketsForSale %}
            {% include "success-message.html.twig" %}
            {% include "error-message.html.twig" %}
            <form action="{{ formAction }}" method="post">
                <label for="countTickets"><strong>Anzahl der Tickets:</strong></label>
                <select name="countTickets" id="countTickets">
                    {% for key, value in countsNormal %}
                        <option value="{{ key }}" {% if formData.countTickets == key %} selected="selected" {% endif %}>
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
                <span> x {{ programData.price }} €</span>
                <label for="countSaleTickets"><strong>Anzahl der ermäßigten Tickets*:</strong></label>
                <select name="countSaleTickets" id="countSaleTickets">
                    {% for key, value in countsSale %}
                        <option value="{{ key }}" {% if formData.countSaleTickets == key %} selected="selected" {% endif %}>
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
                <span> x {{ programData.priceReduce }} €</span>
                <input class="longButton" type="submit" value="In den Warenkorb"/>
            </form>
            <small>*Ermäßigungen gibt es für Studenten und Kinder und wird bei der Bezahlung überprüft.</small>
        {% else %}
            <p>
                Das Program ist leider schon ausverkauft.
            </p>
        {% endif %}
    </div>

    <div class="clear"></div>
{% endblock %}
