{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Programme</h1>
{% endblock %}

{% block content %}
    {% if programData %}


        {% for program in programData %}
            <div class="veranstaltung">
                <h2>
                    {{ program.title }}
                </h2>
                <p>
                    {% if program.image %}
                        <img src="{{ program.image }}" alt="{{ program.title }}"/>
                    {% endif %}
                    {{ program.text }}
                </p>
                <a href="{{ program.detailLink }}">Details & Reservierung</a>
            </div>

        {% endfor %}

    {% else %}
        <p>
            Es liegen keine Programme vor.
        </p>
    {% endif %}

    <div class="clear"></div>
{% endblock %}
