{% extends "layout.html.twig" %}
{% block headline %}
    <h1> {{ programData.title }}</h1>
{% endblock %}

{% block content %}
    <p>
        {{ programData.intro }}
    </p>
    <p>
        {{ programData.text }}
    </p>

    {% include "success-message.html.twig" %}
    <form action="{{ formAction }}" method="post">
        <label for="countTickets">Anzahl der Tickets:</label>
        <select name="countTickets" id="countTickets">
            {% for key, value in countsNormal %}
                <option value="{{ key }}" {% if formData.countTickets == key %} selected="selected" {% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
        <label for="countSaleTickets">Davon ermäßigt*:</label>
        <select name="countSaleTickets" id="countSaleTickets">
            {% for key, value in countsSale %}
                <option value="{{ key }}" {% if formData.countSaleTickets == key %} selected="selected" {% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
        <input class="longButton" type="submit" value="In den Warenkorb"/>
    </form>
    <small>*Ermäßigungen gibt es für Studenten und Kinder.</small>
{% endblock %}
