{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Ticketshop</h1>
{% endblock %}

{% block content %}

    <h2>Flensburger Kurzfilmtage</h2>
    <p>
        Über 100 Filme in 24 Veranstaltungen, 8 Wettbewerbsblöcke dazu Sonderprogramme von plattdeutschen
        Werbetrailern bis hin zu internationalen Animationsfilmen, mit vielen Gästen und Flensburger Festivalatmosphäre.
        <a href="{{ programLink }}">Hier der Programmüberblick</a>
    </p>

    <h2>Bevorstehende Veranstaltungen</h2>
    {% if programData %}
        {% for program in programData %}
            <div class="events">
                <h3>
                    {{ program.title }}
                </h3>
                <p>
                    {% if program.image %}
                        <img src="{{ program.image }}" alt="{{ program.title }}"/>
                    {% endif %}
                    {{ program.text }}
                </p>
                <a href="{{ program.detailLink }}">Details & Reservierung</a>
            </div>

        {% endfor %}

        <div class="clear"></div>

    {% else %}
        <p>
            Es liegen keine Programme vor.
        </p>
    {% endif %}

{% endblock %}