{% extends "layout.twig" %}
{% block content %}
    <h1>Programmdetails</h1>
    {% if data.id %}
        <div>
            <h2>{{ data.title }}</h2>
            <h3>{{ data.author }}</h3>
            <p>{{ data.date }}</p>
            <p>{{ data.intro }}</p>
            <p>{{ data.text }}</p>
        </div>
        <a href="/programm/{{ data.id }}/kommentieren"  class="button blue">Programm kommentieren</a>

        {% include "post-comment.twig" %}
    {% else %}
        <div>Nichts vorhanden.</div>
    {% endif %}

{% endblock %}
